body{
    background-image: linear-gradient( -90deg, rgba(107, 107, 250, 0.7), rgba(144, 144, 255, 1) ), url(https://img.freepik.com/fotos-premium/programadores-que-trabajan-oficina-empresa-desarrollo-software_522218-1216.jpg?w=2000);
    margin: auto;
    width: 50%;
}

.main{
    margin: auto;
    width: 50%;
    height: auto;
    background-color: rgb(48, 6, 116, 0.8);
    color: aliceblue;
    padding: 10px;
    display: block;
    border-radius: 0.25rem
}
.formulary{
    width: auto;
    
}
#intro{
    margin: auto;
    width: 50%;
    text-align: center;
}
input{
    display: block;
}

.formulary label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
}

.textbox{
    width: 90%;
    position: relative;
    align-items: center;
}

.checkbox{
    display: inline;
}
